# Editor backup files
*~
.#*

# automake/autoconf stuff
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
.deps
install-sh
Makefile
Makefile.in
missing

# Compiler output
*.o
src/multi-delogo
